{% extends 'base.html' %}{% block title %}About Us{% endblock title %}

{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-dark" style="font-size: xxx-large">About Us...</h1>
                <p class="lead text-muted">House is friend of our life so invest in greater ones....
                At Home Dreams, we promise the most preferred way of finding your dream Home in Karwar/ investment, and we are committed to help you make a wiser property decision, as a buyer or a seller. Our Team is committed to understand the needs and concerns of Individuals, Brokers, Builders and Corporates, and provide them a common platform for realizing maximum benefits from real-estate opportunities in Karwar. We provide a superior real-estate experience by making it easier, faster, secure and more accurate to find buyers for your valuable property, and sellers for the property you have been waiting for.</p>

            </div>
        </div>
    </section>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6" style="border-radius: 10%">
                <img src="/static/images/aboutus2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                     width="700" height="500" loading="lazy" style="border-radius: 10%">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Project sea greens</h1>
                <p class="lead">At Home Dreams, we promise the most preferred way of finding your dream Home in Karwar/ investment, and we are committed to help you make a wiser property decision, as a buyer or a seller. Our Team is committed to understand the needs and concerns of Individuals, Brokers, Builders and Corporates, and provide them a common platform for realizing maximum benefits from real-estate opportunities in Karwar. We provide a superior real-estate experience by making it easier, faster, secure and more accurate to find buyers for your valuable property, and sellers for the property you have been waiting for.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" fdprocessedid="dso6eo">Contact us
                    </button>
                    <!--
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="avhk4a">Default
                    </button>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Project Hidden valley</h1>
                <p class="lead">The cost for ground floor of the Villa with pending expansion in the first floor would be just around Rs 25- 30 Lakhs, which can easily earn a rent of Rs 15000/- to Rs 25000/- . After finalizing of design, the approval from Karwar Development Authority / Loan process will take at least 3 to 4 months. So if you plan now, the construction can start immediately after the monsoon. Hence interested investors are requested to hurry up with their plans so that we use this opportunity to push the paper work for starting the construction of Villas by Oct 21 post Monsoon</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" fdprocessedid="dso6eo">Contact us
                    </button>
                    <!--
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4" fdprocessedid="avhk4a">Default
                    </button>
                    -->
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-6" style="border-radius: 10%">
                <img src="/static/images/aboutus1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                     width="700" height="500" loading="lazy" style="border-radius: 10%">
            </div>
        </div>
    </div>
    <div class="album py-5">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">

                        <img src="/static/images/karwar.jpg" class="img-thumbnail" alt="..." style="height: 500px">
                        <div class="card-body">
                            <p class="card-text">KARWAR BEACH</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!--
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                -->
                                <small class="text-muted">5 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/static/images/school.jpg" class="img-thumbnail" alt="..." style="height: 500px">

                        <div class="card-body">
                            <p class="card-text">SCHOOL</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!--
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                -->
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/static/images/goa.jpg" class="img-thumbnail" alt="..." style="height: 500px">

                        <div class="card-body">
                            <p class="card-text">GOA BORDER</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!--
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                -->
                                <small class="text-muted">15 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}