{% extends 'base.html' %} {% block title %} Bookings {% endblock title %}

{% block body %}

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Choose Your Dreem Home</h1>
                    <p class="lead text-muted">House is friend of our life so invest in greater ones....</p>
                    <p>
                        <a href="/contact" class="btn btn-primary my-2">Contact Us</a>
                        <a href="/index" class="btn btn-secondary my-2">Go To Home</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 ">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/house1.jpeg" class="img-thumbnail" alt="...">
                            <div class="card-body">
                                <p class="card-text">Bungalow</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                        
                                    </div>
                                    <small class="text-muted">Starting from 45 Lakhs*</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                             <img src="/static/images/house2.jpg" class="img-thumbnail" alt="...">

                            <div class="card-body">
                                <p class="card-text">SEA Green Phase I Apartment </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                        
                                    </div>
                                    <small class="text-muted">1BHK starting from 25 lakhs*</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/house3.jpg" class="img-thumbnail" alt="...">

                            <div class="card-body">
                                <p class="card-text">Independent House</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                        
                                    </div>
                                    <small class="text-muted">starting at 50 lakhs*</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/house4.jpg" class="img-thumbnail" alt="...">

                            <div class="card-body">
                                <p class="card-text">3BHK Apartments</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                        
                                    </div>
                                    <small class="text-muted">Starting at 35 lakhs*</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/house6.jpg" class="img-thumbnail" alt="...">

                            <div class="card-body">
                                <p class="card-text">Buy plots</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                        
                                    </div>
                                    <small class="text-muted">Rupees 4000/ sqft</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/house7.png" class="img-thumbnail" alt="...">

                            <div class="card-body">
                                <p class="card-text">Build your own dream house!</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                        
                                    </div>
                                    <small class="text-muted">Starting at 30 lakhs* </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/house8.jpg" class="img-thumbnail" alt="...">

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                        
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/house9.jpeg" class="img-thumbnail" alt="...">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                        
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/static/images/house5.jpg" class="img-thumbnail" alt="...">

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock body %}