{% extends 'base.html' %} {% block title %} Home {% endblock title %}

{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light" style="font-size: 100px; font-weight: bolder">Post Add</h1>
                <p class="lead text-muted">Post your house add here</p>

            </div>
        </div>
    </section>
    <div class="container-sm">
        <form action="/postadd" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter your Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       name="name">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter your Contact No</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       name="phno">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Your House Name </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       name="housename">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Your House Number </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       name="houseno">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"><b>Upload Picture</b></label>
                <input type="file" class="form-control"
                       name="photo">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Enter Address Of House</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="houseadd"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Enter something About your house</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="abouthouse"></textarea>
            </div>
            <div style="display: flex; justify-content: center">
                <button class="btn btn-primary btn-lg">Upload Add</button>
            </div>
        </form>
    </div>
{% endblock %}