{% extends 'base.html' %} {% block title %} Home {% endblock title %}

{% block body %}
    <div class="container-sm" style="background-color: white; border-radius: 30px; border: 6px solid red; margin-top: 50px">
        {% for message in messages %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <h1 class="display-5 fw-bold lh-1 mb-3">Name : {{ message }}</h1>

            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

                <h2 class="display-5 fw-bold lh-1 mb-3">Phone Number: {{ message }}</h2>

            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}

                <h2 class="display-5 fw-bold lh-1 mb-3">House Info: {{ message }}</h2>

            {% else %}

                <p class="lead">{{ message }} </p>

            {% endif %}

        {% endfor %}
    </div>
{% endblock body %}