{% extends 'base.html' %} {% block title %} Home {% endblock title %}

{% block body %}
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/static/images/house6.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                     width="700"
                     height="500" loading="lazy" style="border-radius: 10%">
                {% for message in messages %}
                    </div>
                    <div class="col-lg-6">
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <h1 class="display-5 fw-bold lh-1 mb-3">{{ message }}</h1>
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="col-lg-6">
                                <h2 class="display-5 fw-bold lh-1 mb-3">{{ message }}</h2>
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            <div class="col-lg-6">
                                <h2 class="display-5 fw-bold lh-1 mb-3">{{ message }}</h2>
                            </div>
                        {% else %}
                            <div class="col-lg-6">
                                <p class="lead">{{ message }} </p>
                            </div>
                        {% endif %}
                    </div>
                    </div>
                {% endfor %}
{% endblock body %}