{% extends 'base.html' %} {% block title %} Home {% endblock title %}

{% block body %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Buy Your Dream House</h1>
                    <a href="/contact" class="btn btn-primary my-2">Contact Us</a>
                    <a href="/postadd" class="btn btn-secondary my-2">Post Add</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for ele in add %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ ele.houseimg.url }}" alt="...">
                                <div class="card-body">
                                    <h4>Name Of Owner : {{ ele.name }}</h4>
                                    <h4>Contact : {{ ele.phno }}</h4>
                                    <h4>House Name : {{ ele.housename }}</h4>
                                    <h4>House Number : {{ ele.houseno }}</h4>
                                    <h6>House Address : {{ ele.houseaddr }}</h6>
                                    <label>About : {{ ele.description }}</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn btn-outline-success">Buy</button>
                                            <button type="button" class="btn btn btn-outline-secondary">Contact Owner
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>
{% endblock body %}